.page__container {
  text-align: center;
  max-width: 500px;
  margin: auto;
  padding: 1.5rem;
  height: 100vh;
}

.title {
  font-weight: 700;
  font-size: 2rem;
  margin-top: 5rem;
}

.subtitle {
  font-weight: 700;
  font-size: 1.2rem;
  margin-top: 5rem;
}

.text {
  font-weight: 300;
  font-size: 1rem;
  margin-top: 2rem;
}

.auth__container {
  margin-top: 4rem;
}
